.box {
  color: white;
  border: forestgreen;
  margin: 0px;
  border: 1px solid black;
  box-sizing: border-box;
}

#main {
  height: 960px;
  width: 960px;
  display: grid;
}

.hoverOn {
  background-color: green;
  color: white;
  margin: 0px;
}

#button {
  background-color: fuchsia;
  align-items: center;
}
